.search {
  border: 1px solid $background;
  border-radius: 5px;
  border-top: none;
}

.search h5 {
  background-color: $background;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 0.25em 0.5em 0.4em 0.5em;
}

.search input {
  margin: 1em 0 0 1em;
}

.search select {
  color: $dark;
  font-family: 'Delius', cursive;
}

.search button {
  margin: 0 0 1em 1em;
  color: $dark;
  font-family: 'Delius', cursive;
}
