<!doctype html>
<html class="no-js" lang="en">

<head>
  <title>Blog</title>
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Delius|Delius+Swash+Caps|Gamja+Flower|Loved+by+the+King|Patrick+Hand+SC"
    rel="stylesheet">
    <link rel="stylesheet" href="../css/app.css">
</head>

<body>
  <article id="blog" class="blog">
  </article>
  <script src="../js/app.js"></script>
  <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
  <script src="../compiled/blog-post.js"></script>
</body>

</html>