<!doctype html>
<html class="no-js" lang="en">

<head>
  <title>Footer List</title>
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Delius|Delius+Swash+Caps|Gamja+Flower|Loved+by+the+King|Patrick+Hand+SC"
    rel="stylesheet">
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/icons.css">
  <link rel="stylesheet" href="../css/layout.css">
  <link rel="stylesheet" href="../css/typography.css">
  <link rel="stylesheet" href="../css/footer.css">
  <link rel="stylesheet" href="../css/fonts.css">
</head>
<body>
  <footer>
    <ul>
      <li><a href="">home</a></li>
      <li><a href="">about</a></li>
      <li><a href="">advertising</a></li>
      <li><a href="">help</a></li>
      <li><a href="">tools</a></li>
      <li><a href="">merch</a></li>
      <li><a href="">legal stuff</a></li>
    </ul>
  </footer>
</body>
</html>