<!doctype html>
<html class="no-js" lang="en">

<head>
  <title>Nav</title>
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Delius|Delius+Swash+Caps|Gamja+Flower|Loved+by+the+King|Patrick+Hand+SC"
    rel="stylesheet">
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/icons.css">
  <link rel="stylesheet" href="../css/layout.css">
  <link rel="stylesheet" href="../css/typography.css">
  <link rel="stylesheet" href="../css/nav.css">
  <link rel="stylesheet" href="../css/fonts.css">
</head>

<body>
  <nav>
    <ul>
      <li>
        <a class="icon-spoolahoop_logo" href="#index.html">
        </a>
      </li>
      <li class="left-nav">
        <a href="">patterns</a>
      </li>
      <li class="left-nav">
        <a href="">fabrics</a>
      </li>
      <li class="left-nav">
        <a href="">people</a>
      </li>
      <li class="left-nav">
        <a href="">circles</a>
      </li>
      <li class="left-nav">
        <a href="">help</a>
      </li>
      <li class="left-nav">
        <a href="">search</a>
      </li>
      <li class="right-nav thumb">
        <a class="thumb-link" href="">
          <img src="http://via.placeholder.com/50x50" />
        </a>
      </li>
      <li class="right-nav">
        <a href="">msgs</a>
      </li>
      <li class="right-nav">
        <a href="">tools</a>
      </li>
      <li class="right-nav">
        <a href="">my notebook</a>
      </li>
      <li class="right-nav">
        <a href="">forums</a>
      </li>
    </ul>
  </nav>
</body>

</html>