<!doctype html>
<html class="no-js" lang="en">

<head>
  <title>Post Featured</title>
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Delius|Delius+Swash+Caps|Gamja+Flower|Loved+by+the+King|Patrick+Hand+SC"
    rel="stylesheet">
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/icons.css">
  <link rel="stylesheet" href="../css/layout.css">
  <link rel="stylesheet" href="../css/typography.css">
  <link rel="stylesheet" href="../css/post-featured.css">
  <link rel="stylesheet" href="../css/fonts.css">
</head>

<body>
    <div class="post-featured" >
      <img src="http://via.placeholder.com/550x500" />
      <p class="post-featured-caption">One amazing <a href="">creation</a> by <a href="">Maker Makesalot</a></p>
    </div>
</body>

</html>