<!doctype html>
<html class="no-js" lang="en">

<head>
  <title>Post Gallery</title>
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Delius|Delius+Swash+Caps|Gamja+Flower|Loved+by+the+King|Patrick+Hand+SC"
    rel="stylesheet">
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/icons.css">
  <link rel="stylesheet" href="../css/layout.css">
  <link rel="stylesheet" href="../css/typography.css">
  <link rel="stylesheet" href="../css/post-gallery.css">
  <link rel="stylesheet" href="../css/post-gallery-img.css">
  <link rel="stylesheet" href="../css/fonts.css">
</head>

<body>
  <ul class="post-gallery">
    <li>
      <img src="http://via.placeholder.com/200x200" />
      <p class="post-gallery-caption">Nam sem quam,
        <a href="">dapibus vitae</a> neque ac,
        <a href="">blandit dictum</a> enim.</p>
    </li>
    <li>
      <img src="http://via.placeholder.com/200x200" />
      <p class="post-gallery-caption">Nam sem quam,
        <a href="">dapibus vitae</a> neque ac,
        <a href="">blandit dictum</a> enim.</p>
    </li>
    <li>
      <img src="http://via.placeholder.com/200x200" />
      <p class="post-gallery-caption">Nam sem quam,
        <a href="">dapibus vitae</a> neque ac,
        <a href="">blandit dictum</a> enim.</p>
    </li>
    <li>
      <img src="http://via.placeholder.com/200x200" />
      <p class="post-gallery-caption">Nam sem quam,
        <a href="">dapibus vitae</a> neque ac,
        <a href="">blandit dictum</a> enim.</p>
    </li>
    <li>
      <img src="http://via.placeholder.com/200x200" />
      <p class="post-gallery-caption">Nam sem quam,
        <a href="">dapibus vitae</a> neque ac,
        <a href="">blandit dictum</a> enim.</p>
    </li>
    <li>
      <img src="http://via.placeholder.com/200x200" />
      <p class="post-gallery-caption">Nam sem quam,
        <a href="">dapibus vitae</a> neque ac,
        <a href="">blandit dictum</a> enim.</p>
    </li>
  </ul>
</body>

</html>