<!doctype html>
<html class="no-js" lang="en">

<head>
  <title>Post Body</title>
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Delius|Delius+Swash+Caps|Gamja+Flower|Loved+by+the+King|Patrick+Hand+SC"
    rel="stylesheet">
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/icons.css">
  <link rel="stylesheet" href="../css/layout.css">
  <link rel="stylesheet" href="../css/typography.css">
  <link rel="stylesheet" href="../css/post-body.css">
  <link rel="stylesheet" href="../css/post-featured.css">
  <link rel="stylesheet" href="../css/post-text.css">
  <link rel="stylesheet" href="../css/post-gallery.css">
  <link rel="stylesheet" href="../css/post-gallery-img.css">
  <link rel="stylesheet" href="../css/fonts.css">
</head>

<body>
  <div class="post-body">
    <div class="post-featured">
      <img src="http://via.placeholder.com/550x500" />
      <p class="post-featured-caption">One amazing
        <a href="">creation</a> by
        <a href="">Maker Makesalot</a>
      </p>
    </div>
    <p class="post-text">Maecenas fermentum ipsum purus, et scelerisque est dignissim eget. Morbi fermentum sem ut euismod ornare. Nam sem quam, dapibus vitae neque ac, blandit dictum enim. Vestibulum tellus leo, condimentum non velit eu, ornare imperdiet erat. Fusce fermentum libero id ligula commodo, at bibendum felis bibendum. Duis eu tristique mauris. Maecenas vel orci mi. Nullam mollis in risus eget mattis.</p>
    <ul class="post-gallery">
      <li>
        <img src="http://via.placeholder.com/200x200" />
        <p class="post-gallery-caption">Nam sem quam,
          <a href="">dapibus vitae</a> neque ac,
          <a href="">blandit dictum</a> enim.</p>
      </li>
      <li>
        <img src="http://via.placeholder.com/200x200" />
        <p class="post-gallery-caption">Nam sem quam,
          <a href="">dapibus vitae</a> neque ac,
          <a href="">blandit dictum</a> enim.</p>
      </li>
      <li>
        <img src="http://via.placeholder.com/200x200" />
        <p class="post-gallery-caption">Nam sem quam,
          <a href="">dapibus vitae</a> neque ac,
          <a href="">blandit dictum</a> enim.</p>
      </li>
      <li>
        <img src="http://via.placeholder.com/200x200" />
        <p class="post-gallery-caption">Nam sem quam,
          <a href="">dapibus vitae</a> neque ac,
          <a href="">blandit dictum</a> enim.</p>
      </li>
      <li>
        <img src="http://via.placeholder.com/200x200" />
        <p class="post-gallery-caption">Nam sem quam,
          <a href="">dapibus vitae</a> neque ac,
          <a href="">blandit dictum</a> enim.</p>
      </li>
      <li>
        <img src="http://via.placeholder.com/200x200" />
        <p class="post-gallery-caption">Nam sem quam,
          <a href="">dapibus vitae</a> neque ac,
          <a href="">blandit dictum</a> enim.</p>
      </li>
    </ul>
  </div>
</body>

</html>