<!doctype html>
<html class="no-js" lang="en">

<head>
  <title>Shortcuts Quicklinks</title>
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Delius|Delius+Swash+Caps|Gamja+Flower|Loved+by+the+King|Patrick+Hand+SC"
    rel="stylesheet">
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/icons.css">
  <link rel="stylesheet" href="../css/layout.css">
  <link rel="stylesheet" href="../css/typography.css">
  <link rel="stylesheet" href="../css/shortcuts-quicklinks.css">
  <link rel="stylesheet" href="../css/fonts.css">
</head>
<body>
  <section class="quicklinks">
    <h5>quick links</h5>
    <ul>
      <li><a href="">help page</a></li>
      <li><a href="">help forum</a></li>
      <li><a href="">getting started</a></li>
      <li><a href="">about spoolahoop</a></li>
    </ul>
  </section>
</body>
</html>