<!doctype html>
<html class="no-js" lang="en">

<head>
  <title>Shortcuts</title>
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Delius|Delius+Swash+Caps|Gamja+Flower|Loved+by+the+King|Patrick+Hand+SC"
    rel="stylesheet">
    <link rel="stylesheet" href="../css/app.css">
</head>
<body>
    <article class="shortcuts">
        <section class="search">
          <h5>quick search</h5>
          <input name="quicksearch" type="text" />
          <select>
            <option value="patterns">patterns</option>
            <option value="fabrics">fabrics</option>
            <option value="people">people</option>
            <option value="circles">circles</option>
            <option value="forums">forums</option>
            <option value="designers">designers</option>
            <option value="projects">projects</option>
            <option value="stashes">stashes</option>
          </select>
          <button id="index-quick-search">Search</button>
        </section>
        <section class="quicklinks">
          <h5>quick links</h5>
          <ul>
            <li><a href="">help page</a></li>
            <li><a href="">help forum</a></li>
            <li><a href="">getting started</a></li>
            <li><a href="">about spoolahoop</a></li>
          </ul>
        </section>
        <section class="store">
          <a href=""><span class="icon-shop"></span> shop spoolahoop merchandise</a>
        </section>
        <section class="ad">
          <img src="http://via.placeholder.com/300x200" />
        </section>
      </article>
</body>
</html>