<!doctype html>
<html class="no-js" lang="en">

<head>
  <title>Shortcuts Search</title>
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Delius|Delius+Swash+Caps|Gamja+Flower|Loved+by+the+King|Patrick+Hand+SC"
    rel="stylesheet">
    <link rel="stylesheet" href="../css/app.css">
</head>
<body>
  <section class="search">
    <h5>quick search</h5>
    <input name="quicksearch" type="text" />
    <select>
      <option value="patterns">patterns</option>
      <option value="fabrics">fabrics</option>
      <option value="people">people</option>
      <option value="circles">circles</option>
      <option value="forums">forums</option>
      <option value="designers">designers</option>
      <option value="projects">projects</option>
      <option value="stashes">stashes</option>
    </select>
    <button id="index-quick-search">Search</button>
  </section>
</body>
</html>