h3 {
  font-size: 200%;
}

h4 {
  font-size: 140%;
}

h5 {
  font-size: 100%;
}

h6 {
  font-size: 95%;
}

p {
  @include font-delius();
}

label {
  font-size: 120%;
}

@mixin links($link-color, $visited-color, $hover-color, $active-color, $text-deco, $hov-text-deco) {
  a {
    color: $link-color;
    text-decoration: $text-deco;
    &:visited {
      color: $visited-color;
      text-decoration: $text-deco;
    }
    &:hover {
      color: $hover-color;  
      text-decoration: $hov-text-deco; 
    }
    &:active {
      color: $active-color;
      text-decoration: $text-deco;
    }
  }
}
